/* Universal styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

.table-wrapper {
    margin: 5px 70px 70px;
    /* box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2); */
}

#tableHeading1 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: grey;
    margin-top: 20px;
}

.table-wrapper table {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;

    border-radius: 10px;
    font-size: 16px;
    border: none;
    border-collapse: separate;
    border-spacing: 0;

}

.table-wrapper caption {
    caption-side: bottom;
    margin: 5px 0px;
    font-size: 14px;
    font-style: italic;
}


.table-wrapper table td,
.table-wrapper table th {
    text-align: center;
    padding: 8px;
    border-left: 2px solid #cfcbcb;
    height: 60px;
}

.table-wrapper table tbody th,
.table-wrapper table tbody td {
    border-bottom: 2px solid #cfcbcb;
}

.subject {
    color: #0068ef;
}

.table-wrapper table tbody td {
    color: rgb(87, 87, 87);
}

/* Color Table Headers */
.table-wrapper table thead th {
    color: white;
    background-color: #3588e7;
    height: 60px;
    border-top: 2px solid #cfcbcb;
}

.table-wrapper table thead th:last-child,
.table-wrapper table tbody td:last-child {
    border-right: 2px solid #cfcbcb;
}

/*
table thead th:nth-child(odd) {
    color: white;
    background-color: #324960;
} */

/* Color even Rows */
/* table tr:nth-child(even) {
    background-color: #f8f8f8;
} */


.table-wrapper table thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.table-wrapper table thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.table-wrapper table tbody tr:last-child th:first-child {
    border-bottom-left-radius: 10px;
}

.table-wrapper table tbody tr:first-child {
    border-top: none;
}

.table-wrapper table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#tableHeading2 {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(42, 41, 41);
    margin: 20px 0px;
}

.table-wrapper2 {
    margin: 10px 70px 70px;
}

.table-wrapper2 table {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;

    font-size: 16px;
    /* border: 2px solid #0935b9; */
    border-collapse: collapse;
    border-spacing: 0;

}

.table-wrapper2 table tr:nth-child(even) {
    background-color: #b9cae9;
}

.table-wrapper2 table tbody tr:nth-child(odd) {
    background-color: #e0dcf7;
}

.table-wrapper2 caption {
    caption-side: bottom;
    margin: 10px 0px;
    font-size: 14px;
    font-style: italic;
}

.table-wrapper2 table td,
.table-wrapper2 table th {
    text-align: center;
    padding: 8px;
    color: rgb(42, 41, 41);
    height: 60px;
    border-left: 2px solid #4565c4;
}

.subject2 {
    color: rgb(42, 41, 41);
}

.table-wrapper2 table thead th {
    color: rgb(42, 41, 41);
    background-color: #a5c0f0;
    height: 60px;
    border-top: 2px solid #4565c4;
}

.table-wrapper2 table tbody th {
    text-align: left;
}

.table-wrapper2 table thead th:last-child,
.table-wrapper2 table tbody td:last-child {
    border-right: 2px solid #4565c4;
}

.table-wrapper2 table thead th,
.table-wrapper2 table tbody th,
.table-wrapper2 table tbody td {
    border-bottom: 2px solid #4565c4;
}

/* .table-wrapper2 table thead th:first-child { */
#empty {
    border-top: none;
    border-left: none;
    background-color: transparent;
}

.table-wrapper3 {
    margin: 10px 70px 70px;
}

.table-wrapper3 table {
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #04113b;

}

.table-wrapper3 table thead th {
    color: rgb(42, 41, 41);
    background-color: #a5c0f0;
    height: 60px;
    border-bottom: none;
    border-right: none;

}

.table-wrapper3 table td,
.table-wrapper3 table th {
    text-align: center;
    padding: 8px;
    color: rgb(42, 41, 41);
    height: 60px;
    border-right: 2px solid #819df8;
}

.table-wrapper3 table tbody th,
.table-wrapper3 table tbody td {
    border-bottom: 2px solid #819df8;
}

.table-wrapper3 table thead th:last-child,
.table-wrapper3 table tbody td:last-child {
    border-right: none;
    ;
}

.table-wrapper3 table tbody tr:last-child th,
.table-wrapper3 table tbody tr:last-child td {
    border-bottom: none;
}

#bunryuImg,
#odikaImg,
#ichiranImg,
#kagomeImg,
#santokaImg {
    transform: rotate(-90deg);
}

.soupType {
    color: #4565c4;
    font-size: 24px;
}